.DS_Store
.idea/
.vscode/
*.iml

backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
backend/*.log

frontend/admin-dashboard/node_modules/
frontend/admin-dashboard/dist/
frontend/storefront-noura/node_modules/
frontend/storefront-noura/.next/
frontend/storefront-noura/out/

node_modules/
dist/
coverage/
.env
.env.local
.env.*.local

*.swp
*.swo
